@import "bootstrap-setting";
@import "twitter/bootstrap";
@import "bootstrap-override";

.social{
   float:left;
   width: 90px;
   padding: 5px;
   padding-top: 10px;
   border-right: none;
}
.social > div {
  height: 20px;
}
.social > div > * {
  display: block;
  float: left;
}

.group:before, .group:after {
   content: "";
   display: table;
}
.group:after {
   clear: both;
}
.group {
   zoom: 1; /* IE6&7 */
}